.JZlider {
    position: relative;
    width: 100%;
}

.slide-box {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

.slide-wrap {
    position: relative;
    clear: both;
    float: none;
}

.slide {
    width: 100%;
    position: relative;
    display: none;
}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.bullet-wrap {
    display: block;
    position: relative;
    margin: 2% auto;
    text-align: center;
    width: 100%;
}

.bullet {
    border: 5px solid;
    border-color: #bbb;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.bullet.active {
    border-color: #3bcfff;
}

.JZlider-control {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 25px;
    height: 44px;
    z-index: 9999;
    line-height: 44px;
    cursor: pointer;
    text-align: center;
    background-repeat: no-repeat;
}

.JZlider-control.left {
    left: 0;
    background-image: url("arrow-l.jpg");
}

.JZlider-control.right {
    right: 0;
    background-image: url("arrow-r.jpg");
}